In [18]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
import seaborn as sns
import csv

# Read the Election Results File (CSV)
ElectionResults = "2016_US_County_Level_Presidential_Results.csv"
ElectionResults = pd.read_csv(ElectionResults)
print(ElectionResults)

        ID  votes_dem  votes_gop  total_votes   per_dem   per_gop    diff  \
0        0      93003     130413       246588  0.377159  0.528870  37,410
1        1      93003     130413       246588  0.377159  0.528870  37,410
2        2      93003     130413       246588  0.377159  0.528870  37,410
3        3      93003     130413       246588  0.377159  0.528870  37,410
4        4      93003     130413       246588  0.377159  0.528870  37,410
...    ...        ...        ...          ...       ...       ...     ...
3136  3136       3233      12153        16661  0.194046  0.729428   8,920
3137  3137       7313       3920        12176  0.600608  0.321945   3,393
3138  3138       1202       6154         8053  0.149261  0.764187   4,952
3139  3139        532       2911         3715  0.143203  0.783580   2,379
3140  3140        294       2898         3334  0.088182  0.869226   2,604

     per_point_diff state_abbr        county_name  combined_fips
0            15.17%         AK             Alaska           2013
1            15.17%         AK             Alaska           2016
2            15.17%         AK             Alaska           2020
3            15.17%         AK             Alaska           2050
4            15.17%         AK             Alaska           2060
...             ...        ...                ...            ...
3136         53.54%         WY  Sweetwater County          56037
3137         27.87%         WY       Teton County          56039
3138         61.49%         WY       Uinta County          56041
3139         64.04%         WY    Washakie County          56043
3140         78.10%         WY      Weston County          56045

[3141 rows x 11 columns]

In [19]:
ElectionResults.head()

,ID,votes_dem,votes_gop,total_votes,per_dem,per_gop,diff,per_point_diff,state_abbr,county_name,combined_fips
0,0,93003,130413,246588,0.377159,0.52887,"37,410",15.17%,AK,Alaska,2013
1,1,93003,130413,246588,0.377159,0.52887,"37,410",15.17%,AK,Alaska,2016
2,2,93003,130413,246588,0.377159,0.52887,"37,410",15.17%,AK,Alaska,2020
3,3,93003,130413,246588,0.377159,0.52887,"37,410",15.17%,AK,Alaska,2050
4,4,93003,130413,246588,0.377159,0.52887,"37,410",15.17%,AK,Alaska,2060

In [31]:
data.loc['IN']

NameError: name 'data' is not defined