In [277]:
# import in and read indiana_census.csv and 2016_US_County_Level_Presidential_Results.csv files
import pandas as pd
import requests
import json
import csv

election_results_file = "in_clean_result2.csv"
indiana_census_file = "indiana_census.csv"
indiana_census2_file = "indiana_census2.csv"
indiana_education_file = "indiana_education2.csv"

election_results_df = pd.read_csv(election_results_file)
indiana_census_df = pd.read_csv(indiana_census_file)
indiana_census2_df = pd.read_csv(indiana_census2_file)
indiana_education_df = pd.read_csv(indiana_education_file)

In [278]:
election_results_df.head()

,votes_dem,votes_gop,total_votes,per_dem,per_gop,per_dem2,per_gop2,state_abbr,county_name
0,2802,9642,13039,0.214894,0.739474,21.49,73.95,IN,Adams County
1,55222,83801,145787,0.378785,0.574818,37.88,57.48,IN,Allen County
2,9841,20637,32389,0.303838,0.637161,30.38,63.72,IN,Bartholomew County
3,860,2579,3654,0.235359,0.705802,23.54,70.58,IN,Benton County
4,1243,3349,4822,0.257777,0.694525,25.78,69.45,IN,Blackford County

In [279]:
# Clean up county_name category. Replace 'county_name' with 'County'
election_results_df.rename(columns={"county_name":"County"}, inplace=True)
election_results_df.columns

Index(['votes_dem', 'votes_gop', 'total_votes', 'per_dem', 'per_gop',
       'per_dem2', 'per_gop2', 'state_abbr', 'County'],
      dtype='object')

In [280]:
election_results_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 9 columns):
votes_dem      92 non-null int64
votes_gop      92 non-null int64
total_votes    92 non-null int64
per_dem        92 non-null float64
per_gop        92 non-null float64
per_dem2       92 non-null float64
per_gop2       92 non-null float64
state_abbr     92 non-null object
County         92 non-null object
dtypes: float64(4), int64(3), object(2)
memory usage: 6.6+ KB

In [281]:
indiana_census_df.head()

,Unnamed: 0,State,County,Total Population,Population (White),Population (African-American),Population (Asian),Population (Hispanic),Median Home Value,Education (None),Education (High School),Education (GED),Education (Associates),Education (Bachelors),Education (Masters),Education (Professional),Education (Doctorate)
0,759,Indiana,Adams County,34813.0,33743.0,247.0,121.0,1533.0,114600.0,217.0,7627.0,1088.0,1594.0,2311.0,768.0,126.0,64.0
1,760,Indiana,Allen County,365565.0,290987.0,42168.0,12228.0,25810.0,116400.0,2265.0,58807.0,9682.0,23158.0,42160.0,16367.0,4152.0,1694.0
2,761,Indiana,Bartholomew County,80203.0,69108.0,1522.0,4585.0,5079.0,137500.0,527.0,15840.0,3056.0,4588.0,9685.0,5255.0,499.0,632.0
3,762,Indiana,Benton County,8709.0,8516.0,80.0,18.0,449.0,81500.0,23.0,2325.0,304.0,471.0,753.0,188.0,42.0,12.0
4,763,Indiana,Blackford County,12364.0,12036.0,75.0,38.0,176.0,67100.0,47.0,3748.0,447.0,755.0,546.0,315.0,51.0,42.0

In [282]:
indiana_census_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 17 columns):
Unnamed: 0                       92 non-null int64
State                            92 non-null object
County                           92 non-null object
Total Population                 92 non-null float64
Population (White)               92 non-null float64
Population (African-American)    92 non-null float64
Population (Asian)               92 non-null float64
Population (Hispanic)            92 non-null float64
Median Home Value                92 non-null float64
Education (None)                 92 non-null float64
Education (High School)          92 non-null float64
Education (GED)                  92 non-null float64
Education (Associates)           92 non-null float64
Education (Bachelors)            92 non-null float64
Education (Masters)              92 non-null float64
Education (Professional)         92 non-null float64
Education (Doctorate)            92 non-null float64
dtypes: float64(14), int64(1), object(2)
memory usage: 12.3+ KB

In [283]:
indiana_census2_df.head()

,Unnamed: 0,County,State,Median Income,Income Per Capita,Pop in Labor Force,Pop not in Labor Force,Unemployed,Median Age,Median Age (male),Median Age (female)
0,759,Adams County,Indiana,47572.0,21173.0,15975.0,8948.0,872.0,33.7,32.0,36.0
1,760,Allen County,Indiana,49574.0,26058.0,186706.0,93216.0,13152.0,35.6,34.6,36.7
2,761,Bartholomew County,Indiana,55874.0,28631.0,41710.0,21169.0,2165.0,37.9,36.4,39.1
3,762,Benton County,Indiana,48069.0,23181.0,4368.0,2364.0,201.0,40.5,37.4,42.5
4,763,Blackford County,Indiana,38791.0,21980.0,5763.0,4263.0,480.0,43.4,42.1,45.8

In [284]:
indiana_census2_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 11 columns):
Unnamed: 0                92 non-null int64
County                    92 non-null object
State                     92 non-null object
Median Income             92 non-null float64
Income Per Capita         92 non-null float64
Pop in Labor Force        92 non-null float64
Pop not in Labor Force    92 non-null float64
Unemployed                92 non-null float64
Median Age                92 non-null float64
Median Age (male)         92 non-null float64
Median Age (female)       92 non-null float64
dtypes: float64(8), int64(1), object(2)
memory usage: 8.0+ KB

In [285]:
indiana_education_df.head()

,State,County,White Pop (25 and over),White Males (25 and over),White Male (Bachelors or higher),White Male (Bachelors or higher) %,White Female (25 and over),White Female (Bachelors or higher),White Female (Bachelors or higher) %,Af-Am (25 and over),Af-Am Male (25 and over),Af-Am Male (Bachelors or higher),Af-Am Male (25 and over) %,Af-Am Female (25 and over),Af-Am Female (Bachelors or higher),Af-Am Female (Bachelors or higher) %
0,Indiana,Adams County,20420,9856,1630,16.54,10564,1567,14.83,51,21,0,0.00,30,1,3.33
1,Indiana,Allen County,196491,94430,28035,29.69,102061,29560,28.96,24126,10823,1475,13.63,13303,1726,12.97
2,Indiana,Bartholomew County,47511,22931,6348,27.68,24580,6293,25.60,1061,606,253,41.75,455,90,19.78
3,Indiana,Benton County,5732,2759,420,15.22,2973,546,18.37,34,12,9,75.00,22,0,0.00
4,Indiana,Blackford County,8509,4084,456,11.17,4425,498,11.25,40,40,0,0.00,0,0,0.00

In [286]:
indiana_education_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 16 columns):
State                                   92 non-null object
County                                  92 non-null object
White Pop (25 and over)                 92 non-null int64
White Males (25 and over)               92 non-null int64
White Male (Bachelors or higher)        92 non-null int64
White Male (Bachelors or higher) %      92 non-null float64
White Female (25 and over)              92 non-null int64
White Female (Bachelors or higher)      92 non-null int64
White Female (Bachelors or higher) %    92 non-null float64
Af-Am (25 and over)                     92 non-null int64
Af-Am Male (25 and over)                92 non-null int64
Af-Am Male (Bachelors or higher)        92 non-null int64
Af-Am Male (25 and over) %              92 non-null float64
Af-Am Female (25 and over)              92 non-null int64
Af-Am Female (Bachelors or higher)      92 non-null int64
Af-Am Female (Bachelors or higher) %    92 non-null float64
dtypes: float64(4), int64(10), object(2)
memory usage: 11.6+ KB

In [287]:
# Merge two dataframes using an outer join
merged_file_1 = pd.merge(election_results_df, indiana_census_df, on="County", how="outer")

In [288]:
# Merge last dataframe and first merged file dataframes using an outer join
merged_file2 = pd.merge(merged_file_1, indiana_census2_df, on="County", how="outer")

In [289]:
# Merge last dataframe and first merged file dataframes using an outer join
merged_file3 = pd.merge(merged_file2, indiana_education_df, on="County", how="outer")

In [301]:
merged_file3.head(2)

,votes_dem,votes_gop,total_votes,per_dem,per_gop,per_dem2,per_gop2,state_abbr,County,Unnamed: 0_x,...,White Female (25 and over),White Female (Bachelors or higher),White Female (Bachelors or higher) %,Af-Am (25 and over),Af-Am Male (25 and over),Af-Am Male (Bachelors or higher),Af-Am Male (25 and over) %,Af-Am Female (25 and over),Af-Am Female (Bachelors or higher),Af-Am Female (Bachelors or higher) %
0,2802,9642,13039,0.214894,0.739474,21.49,73.95,IN,Adams County,759,...,10564,1567,14.83,51,21,0,0.00,30,1,3.33
1,55222,83801,145787,0.378785,0.574818,37.88,57.48,IN,Allen County,760,...,102061,29560,28.96,24126,10823,1475,13.63,13303,1726,12.97

In [291]:
merged_file3.columns

Index(['votes_dem', 'votes_gop', 'total_votes', 'per_dem', 'per_gop',
       'per_dem2', 'per_gop2', 'state_abbr', 'County', 'Unnamed: 0_x',
       'State_x', 'Total Population', 'Population (White)',
       'Population (African-American)', 'Population (Asian)',
       'Population (Hispanic)', 'Median Home Value', 'Education (None)',
       'Education (High School)', 'Education (GED)', 'Education (Associates)',
       'Education (Bachelors)', 'Education (Masters)',
       'Education (Professional)', 'Education (Doctorate)', 'Unnamed: 0_y',
       'State_y', 'Median Income', 'Income Per Capita', 'Pop in Labor Force',
       'Pop not in Labor Force', 'Unemployed', 'Median Age',
       'Median Age (male)', 'Median Age (female)', 'State',
       'White Pop (25 and over)', 'White Males (25 and over)',
       'White Male (Bachelors or higher)',
       'White Male (Bachelors or higher) %', 'White Female (25 and over)',
       'White Female (Bachelors or higher)',
       'White Female (Bachelors or higher) %', 'Af-Am (25 and over)',
       'Af-Am Male (25 and over)', 'Af-Am Male (Bachelors or higher)',
       'Af-Am Male (25 and over) %', 'Af-Am Female (25 and over)',
       'Af-Am Female (Bachelors or higher)',
       'Af-Am Female (Bachelors or higher) %'],
      dtype='object')

In [292]:
# Drop columns that are not needed
merged_file4 = merged_file3.drop(["Unnamed: 0_x", "Unnamed: 0_y", "State_y", "State_x"], axis = 1)

In [293]:
# Rename columns
merged_file4.rename(columns=
                   {"County":"County",
                    "State_x":"State",
                   "votes_dem":"DEM Votes",
                   "votes_gop":"GOP Votes",
                   "total_votes":"Total Votes",
                   "per_dem2":"DEM %",
                   "per_gop2":"GOP %",
                   "state_abbr":"State Abbr",                   
                   "Total Population":"Total Population",
                   "Population (White)":"Population (White)",
                   "Population (African-American)":"Population (African-American)",
                   "Population (Asian)":"Population (Asian)",
                   "Population (Hispanic)":"Population (Hispanic)",
                   "Median Home Value":"Median Home Value",
                   "Education (None)":"Education (None)",
                   "Education (High School)":"Education (High School)",
                   "Education (GED)":"Education (GED)",
                   "Education (Associates)":"Education (Associates)",
                   "Education (Bachelors)":"Education (Bachelors)",
                   "Education (Masters)":"Education (Masters)",
                   "Education (Professional)":"Education (Professional)",
                   "Education (Doctorate)":"Education (Doctorate)",
                   "Median Income":"Median Income",
                   "Income Per Capita":"Income Per Capita",
                   "Pop in Labor Force":"Pop in Labor Force",
                   "Pop not in Labor Force":"Pop Not in Labor Force",
                   "Unemployed":"Unemployed",
                   "Median Age":"Median Age",
                   "Median Age (male)":"Median Age (Male)",
                   "Median Age (female)":"Median Age (Female)",
                   "White Male (Bachelors or higher) %":"White Male (Bachelors or higher) %",
                   "White Female (Bachelors or higher) %":"White Female (Bachelors or higher) %",
                   "f-Am Male (25 and over) %":"f-Am Male (25 and over) %",
                   "Af-Am Female (Bachelors or higher) %":"Af-Am Female (Bachelors or higher) %"
                   },
                   inplace=True)

In [294]:
merged_file4.columns

Index(['DEM Votes', 'GOP Votes', 'Total Votes', 'per_dem', 'per_gop', 'DEM %',
       'GOP %', 'State Abbr', 'County', 'Total Population',
       'Population (White)', 'Population (African-American)',
       'Population (Asian)', 'Population (Hispanic)', 'Median Home Value',
       'Education (None)', 'Education (High School)', 'Education (GED)',
       'Education (Associates)', 'Education (Bachelors)',
       'Education (Masters)', 'Education (Professional)',
       'Education (Doctorate)', 'Median Income', 'Income Per Capita',
       'Pop in Labor Force', 'Pop Not in Labor Force', 'Unemployed',
       'Median Age', 'Median Age (Male)', 'Median Age (Female)', 'State',
       'White Pop (25 and over)', 'White Males (25 and over)',
       'White Male (Bachelors or higher)',
       'White Male (Bachelors or higher) %', 'White Female (25 and over)',
       'White Female (Bachelors or higher)',
       'White Female (Bachelors or higher) %', 'Af-Am (25 and over)',
       'Af-Am Male (25 and over)', 'Af-Am Male (Bachelors or higher)',
       'Af-Am Male (25 and over) %', 'Af-Am Female (25 and over)',
       'Af-Am Female (Bachelors or higher)',
       'Af-Am Female (Bachelors or higher) %'],
      dtype='object')

In [302]:
# Reorganizing the columns
merged_file = merged_file4[['State', 'State Abbr','County', 'DEM Votes', 'GOP Votes', 'Total Votes', 'DEM %', 'GOP %', 
       'Total Population', 'Population (White)', 'Population (African-American)', 'Population (Asian)',
       'Population (Hispanic)', 'Median Age', 'Median Age (Male)', 'Median Age (Female)',
        'Education (None)', 'Education (High School)', 'Education (GED)', 'Education (Associates)',
       'Education (Bachelors)', 'Education (Masters)','Education (Professional)', 'Education (Doctorate)',
        'Median Income', 'Income Per Capita', 'Median Home Value',
        'Pop in Labor Force', 'Pop Not in Labor Force', 'Unemployed',
        'White Male (Bachelors or higher) %', 'White Female (Bachelors or higher) %', 'Af-Am Male (25 and over) %', 'Af-Am Female (Bachelors or higher) %']]
merged_file.head(2)

,State,State Abbr,County,DEM Votes,GOP Votes,Total Votes,DEM %,GOP %,Total Population,Population (White),...,Median Income,Income Per Capita,Median Home Value,Pop in Labor Force,Pop Not in Labor Force,Unemployed,White Male (Bachelors or higher) %,White Female (Bachelors or higher) %,Af-Am Male (25 and over) %,Af-Am Female (Bachelors or higher) %
0,Indiana,IN,Adams County,2802,9642,13039,21.49,73.95,34813.0,33743.0,...,47572.0,21173.0,114600.0,15975.0,8948.0,872.0,16.54,14.83,0.00,3.33
1,Indiana,IN,Allen County,55222,83801,145787,37.88,57.48,365565.0,290987.0,...,49574.0,26058.0,116400.0,186706.0,93216.0,13152.0,29.69,28.96,13.63,12.97

In [297]:
merged_file.shape

(92, 34)

In [ ]:
merged_file.columns

In [303]:
merged_file4.describe()

,DEM Votes,GOP Votes,Total Votes,per_dem,per_gop,DEM %,GOP %,Total Population,Population (White),Population (African-American),...,White Female (25 and over),White Female (Bachelors or higher),White Female (Bachelors or higher) %,Af-Am (25 and over),Af-Am Male (25 and over),Af-Am Male (Bachelors or higher),Af-Am Male (25 and over) %,Af-Am Female (25 and over),Af-Am Female (Bachelors or higher),Af-Am Female (Bachelors or higher) %
count,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,...,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000
mean,11216.880435,16915.434783,29587.271739,0.276277,0.676119,27.628261,67.611413,71625.847826,60160.423913,6611.152174,...,21090.847826,5348.989130,19.245326,3931.826087,1808.304348,267.565217,12.954348,2123.521739,379.010870,20.260870
std,26630.651685,20249.244901,48057.304706,0.088005,0.089893,8.800259,8.988692,120038.509471,81181.583363,29600.642447,...,29107.845885,10118.831714,7.552899,17696.059450,7609.226506,1123.042123,18.312127,10093.224047,1784.480923,27.358209
min,686.000000,2118.000000,2917.000000,0.167660,0.356229,16.770000,35.620000,6003.000000,5811.000000,12.000000,...,2167.000000,274.000000,8.780000,8.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2080.750000,6147.750000,8596.500000,0.219182,0.643645,21.917500,64.360000,21035.000000,20403.750000,99.000000,...,7079.750000,1048.250000,14.765000,55.750000,38.000000,0.000000,0.000000,20.500000,0.000000,0.000000
50%,3359.000000,9987.000000,13612.000000,0.245472,0.707035,24.550000,70.705000,33981.500000,32416.500000,293.500000,...,11230.500000,1860.500000,17.870000,164.000000,99.000000,9.500000,5.935000,57.500000,8.500000,10.840000
75%,8466.750000,19872.250000,31361.750000,0.304163,0.733402,30.412500,73.337500,68577.750000,62299.250000,1477.750000,...,22901.250000,5264.750000,21.097500,967.500000,726.000000,105.500000,15.885000,290.750000,84.000000,29.160000
max,212676.000000,130228.000000,361070.000000,0.593218,0.795920,59.320000,79.590000,932142.000000,582047.000000,254863.000000,...,212824.000000,71831.000000,53.520000,151835.000000,65367.000000,9957.000000,90.540000,86468.000000,15357.000000,100.000000

In [299]:
merged_file.count()

State                                   92
State Abbr                              92
County                                  92
DEM Votes                               92
GOP Votes                               92
Total Votes                             92
DEM %                                   92
GOP %                                   92
Total Population                        92
Population (White)                      92
Population (African-American)           92
Population (Asian)                      92
Population (Hispanic)                   92
Median Age                              92
Median Age (Male)                       92
Median Age (Female)                     92
Education (None)                        92
Education (High School)                 92
Education (GED)                         92
Education (Associates)                  92
Education (Bachelors)                   92
Education (Masters)                     92
Education (Professional)                92
Education (Doctorate)                   92
Median Income                           92
Income Per Capita                       92
Median Home Value                       92
Pop in Labor Force                      92
Pop Not in Labor Force                  92
Unemployed                              92
White Male (Bachelors or higher) %      92
White Female (Bachelors or higher) %    92
Af-Am Male (25 and over) %              92
Af-Am Female (Bachelors or higher) %    92
dtype: int64

In [300]:
merged_file.to_csv("merged_file2.csv")