In [3]:
import pandas as pd
import requests
import json
csvpath='2016_US_County_Level_Presidential_Results.csv'
election_results=pd.read_csv(csvpath)
election_results.head()

,Unnamed: 0,votes_dem,votes_gop,total_votes,per_dem,per_gop,diff,per_point_diff,state_abbr,county_name,combined_fips
0,0,93003.0,130413.0,246588.0,0.377159,0.52887,"37,410",15.17%,AK,Alaska,2013
1,1,93003.0,130413.0,246588.0,0.377159,0.52887,"37,410",15.17%,AK,Alaska,2016
2,2,93003.0,130413.0,246588.0,0.377159,0.52887,"37,410",15.17%,AK,Alaska,2020
3,3,93003.0,130413.0,246588.0,0.377159,0.52887,"37,410",15.17%,AK,Alaska,2050
4,4,93003.0,130413.0,246588.0,0.377159,0.52887,"37,410",15.17%,AK,Alaska,2060

In [4]:
indiana_data=election_results.loc[election_results["state_abbr"]=="IN"]
total_counties=indiana_data["county_name"].count()
indiana_data.head()

,Unnamed: 0,votes_dem,votes_gop,total_votes,per_dem,per_gop,diff,per_point_diff,state_abbr,county_name,combined_fips
795,795,2802.0,9642.0,13039.0,0.214894,0.739474,"6,840",52.46%,IN,Adams County,18001
796,796,55222.0,83801.0,145787.0,0.378785,0.574818,"28,579",19.60%,IN,Allen County,18003
797,797,9841.0,20637.0,32389.0,0.303838,0.637161,"10,796",33.33%,IN,Bartholomew County,18005
798,798,860.0,2579.0,3654.0,0.235359,0.705802,"1,719",47.04%,IN,Benton County,18007
799,799,1243.0,3349.0,4822.0,0.257777,0.694525,"2,106",43.67%,IN,Blackford County,18009

In [2]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census
from us import states

# Census API Key
from config import census_api_key
c = Census(census_api_key, year=2016)
import pandas as pd

In [56]:
census_data = c.acs5.get(("NAME", "B01003_001E", "B02001_002E","B02001_003E","B02001_005E","B03001_003E",
                          "B25077_001E","B15003_002E","B15003_017E","B15003_018E",
                         "B15003_021E","B15003_022E","B15003_023E","B15003_024E","B15003_025E"), {'for': 'county:*'})

In [57]:
census_complete=pd.DataFrame(census_data)
census_complete=census_complete.rename(columns={"B01003_001E":"Total Population",
                                                "B02001_002E":"Population (White)",
                                                "B02001_003E":"Population (African-American)",
                                               "B02001_005E":"Population (Asian)",
                                               "B03001_003E":"Population (Hispanic)",
                                               "B25077_001E":"Median Home Value",
                                               "B15003_002E":"Education (None)",
                                               "B15003_017E":"Education (High School)",
                                               "B15003_018E":"Education (GED)",
                                               "B15003_021E":"Education (Associates)",
                                               "B15003_022E":"Education (Bachelors)",
                                               "B15003_023E":"Education (Masters)",
                                               "B15003_024E":"Education (Professional)",
                                               "B15003_025E":"Education (Doctorate)"})
census_complete.head()
#census_county = census_complete[1].str.split(' ').apply(Series, 1)

,NAME,Total Population,Population (White),Population (African-American),Population (Asian),Population (Hispanic),Median Home Value,Education (None),Education (High School),Education (GED),Education (Associates),Education (Bachelors),Education (Masters),Education (Professional),Education (Doctorate),state,county
0,"Carroll County, Arkansas",27690.0,25856.0,318.0,245.0,4021.0,118500.0,128.0,5458.0,1346.0,1162.0,2157.0,951.0,119.0,219.0,05,015
1,"Chicot County, Arkansas",11189.0,4778.0,6070.0,46.0,578.0,59600.0,96.0,2621.0,627.0,312.0,718.0,220.0,58.0,19.0,05,017
2,"Clark County, Arkansas",22684.0,16387.0,5348.0,174.0,1013.0,92700.0,145.0,3428.0,628.0,1131.0,2010.0,928.0,96.0,214.0,05,019
3,"Clay County, Arkansas",15202.0,14632.0,76.0,26.0,275.0,66700.0,192.0,3414.0,1172.0,564.0,775.0,354.0,67.0,31.0,05,021
4,"Cleburne County, Arkansas",25587.0,24850.0,143.0,147.0,615.0,126100.0,177.0,5655.0,1533.0,1162.0,1817.0,690.0,242.0,146.0,05,023

In [58]:
county =census_complete.NAME.str.split(', ', expand=True).loc[:,0]
state=census_complete.NAME.str.split(', ', expand=True).loc[:,1]

In [59]:
census_complete["County"]=county
census_complete
census_complete["State"]=state
census_complete.head()

,NAME,Total Population,Population (White),Population (African-American),Population (Asian),Population (Hispanic),Median Home Value,Education (None),Education (High School),Education (GED),Education (Associates),Education (Bachelors),Education (Masters),Education (Professional),Education (Doctorate),state,county,County,State
0,"Carroll County, Arkansas",27690.0,25856.0,318.0,245.0,4021.0,118500.0,128.0,5458.0,1346.0,1162.0,2157.0,951.0,119.0,219.0,05,015,Carroll County,Arkansas
1,"Chicot County, Arkansas",11189.0,4778.0,6070.0,46.0,578.0,59600.0,96.0,2621.0,627.0,312.0,718.0,220.0,58.0,19.0,05,017,Chicot County,Arkansas
2,"Clark County, Arkansas",22684.0,16387.0,5348.0,174.0,1013.0,92700.0,145.0,3428.0,628.0,1131.0,2010.0,928.0,96.0,214.0,05,019,Clark County,Arkansas
3,"Clay County, Arkansas",15202.0,14632.0,76.0,26.0,275.0,66700.0,192.0,3414.0,1172.0,564.0,775.0,354.0,67.0,31.0,05,021,Clay County,Arkansas
4,"Cleburne County, Arkansas",25587.0,24850.0,143.0,147.0,615.0,126100.0,177.0,5655.0,1533.0,1162.0,1817.0,690.0,242.0,146.0,05,023,Cleburne County,Arkansas

In [79]:
indiana_census=census_complete.loc[census_complete["State"]=="Indiana"]
indiana_census.head()

,NAME,Total Population,Population (White),Population (African-American),Population (Asian),Population (Hispanic),Median Home Value,Education (None),Education (High School),Education (GED),Education (Associates),Education (Bachelors),Education (Masters),Education (Professional),Education (Doctorate),state,county,County,State
759,"Adams County, Indiana",34813.0,33743.0,247.0,121.0,1533.0,114600.0,217.0,7627.0,1088.0,1594.0,2311.0,768.0,126.0,64.0,18,001,Adams County,Indiana
760,"Allen County, Indiana",365565.0,290987.0,42168.0,12228.0,25810.0,116400.0,2265.0,58807.0,9682.0,23158.0,42160.0,16367.0,4152.0,1694.0,18,003,Allen County,Indiana
761,"Bartholomew County, Indiana",80203.0,69108.0,1522.0,4585.0,5079.0,137500.0,527.0,15840.0,3056.0,4588.0,9685.0,5255.0,499.0,632.0,18,005,Bartholomew County,Indiana
762,"Benton County, Indiana",8709.0,8516.0,80.0,18.0,449.0,81500.0,23.0,2325.0,304.0,471.0,753.0,188.0,42.0,12.0,18,007,Benton County,Indiana
763,"Blackford County, Indiana",12364.0,12036.0,75.0,38.0,176.0,67100.0,47.0,3748.0,447.0,755.0,546.0,315.0,51.0,42.0,18,009,Blackford County,Indiana

In [61]:
count=indiana_census["State"].count()
count

92

In [84]:
indiana_final=pd.DataFrame({"State":indiana_census["State"],"County":indiana_census["County"],"Total Population":indiana_census["Total Population"],
                            "Population (White)":indiana_census["Population (White)"],
                            "Population (African-American)":indiana_census["Population (African-American)"],
                           "Population (Asian)":indiana_census["Population (Asian)"],
                           "Population (Hispanic)":indiana_census["Population (Hispanic)"],
                           "Median Home Value":indiana_census["Median Home Value"],
                           "Education (None)":indiana_census["Education (None)"],
                           "Education (High School)":indiana_census["Education (High School)"],
                           "Education (GED)":indiana_census["Education (GED)"],
                           "Education (Associates)":indiana_census["Education (Associates)"],
                           "Education (Bachelors)":indiana_census["Education (Bachelors)"],
                           "Education (Masters)":indiana_census["Education (Masters)"],
                           "Education (Professional)":indiana_census["Education (Professional)"],
                           "Education (Doctorate)":indiana_census["Education (Doctorate)"]})

In [85]:
indiana_final.head()

,State,County,Total Population,Population (White),Population (African-American),Population (Asian),Population (Hispanic),Median Home Value,Education (None),Education (High School),Education (GED),Education (Associates),Education (Bachelors),Education (Masters),Education (Professional),Education (Doctorate)
759,Indiana,Adams County,34813.0,33743.0,247.0,121.0,1533.0,114600.0,217.0,7627.0,1088.0,1594.0,2311.0,768.0,126.0,64.0
760,Indiana,Allen County,365565.0,290987.0,42168.0,12228.0,25810.0,116400.0,2265.0,58807.0,9682.0,23158.0,42160.0,16367.0,4152.0,1694.0
761,Indiana,Bartholomew County,80203.0,69108.0,1522.0,4585.0,5079.0,137500.0,527.0,15840.0,3056.0,4588.0,9685.0,5255.0,499.0,632.0
762,Indiana,Benton County,8709.0,8516.0,80.0,18.0,449.0,81500.0,23.0,2325.0,304.0,471.0,753.0,188.0,42.0,12.0
763,Indiana,Blackford County,12364.0,12036.0,75.0,38.0,176.0,67100.0,47.0,3748.0,447.0,755.0,546.0,315.0,51.0,42.0

In [87]:
indiana_final.to_csv("indiana_census.csv")