**American Community Survey**
- Five year estimate is the mean of the previous 60 months, so 2016 data is mean of 2012-2016
- Chosen because data is available for tracts of land with smaller populations....not all data is available in the one year survey because populations under 20,000 are excluded.  This includes several counties in Indiana.
- Largest sample size of the 1-year,3-year, and 5-year estimates
- most reliable
- drawback: least current
- https://www.census.gov/programs-surveys/acs/guidance/estimates.html
- https://www.census.gov/programs-surveys/acs/methodology.html
- The American Community Survey (ACS) is a national survey that uses continuous measurement methods. In this survey, a series of monthly samples produce annual estimates for the same small areas (census tracts and block groups) formerly surveyed via the decennial census long-form sample.
- https://www.census.gov/programs-surveys/acs/methodology.html
    - about 3.5 million households surveyed each year
    -internet, mail, telephone, personal visit

We have exit poll results - if Michael addresses the modeling aspect.  These results were summarized from cnn.

**Harvard Dataverse**
- https://dataverse.harvard.edu/file.xhtml?persistentId=doi:10.7910/DVN/VOQCHQ/HEIJCQ&version=6.0
- maintained by MIT Election Data and Science Lab

In [2]:
import pandas as pd
import numpy as np
import requests
import json
csvpath='2016_US_County_Level_Presidential_Results.csv'
election_results=pd.read_csv(csvpath)
election_results.head()

,Unnamed: 0,votes_dem,votes_gop,total_votes,per_dem,per_gop,diff,per_point_diff,state_abbr,county_name,combined_fips
0,0,93003.0,130413.0,246588.0,0.377159,0.52887,"37,410",15.17%,AK,Alaska,2013
1,1,93003.0,130413.0,246588.0,0.377159,0.52887,"37,410",15.17%,AK,Alaska,2016
2,2,93003.0,130413.0,246588.0,0.377159,0.52887,"37,410",15.17%,AK,Alaska,2020
3,3,93003.0,130413.0,246588.0,0.377159,0.52887,"37,410",15.17%,AK,Alaska,2050
4,4,93003.0,130413.0,246588.0,0.377159,0.52887,"37,410",15.17%,AK,Alaska,2060

In [3]:
indiana_data=election_results.loc[election_results["state_abbr"]=="IN"]
total_counties=indiana_data["county_name"].count()
indiana_data.head()

,Unnamed: 0,votes_dem,votes_gop,total_votes,per_dem,per_gop,diff,per_point_diff,state_abbr,county_name,combined_fips
795,795,2802.0,9642.0,13039.0,0.214894,0.739474,"6,840",52.46%,IN,Adams County,18001
796,796,55222.0,83801.0,145787.0,0.378785,0.574818,"28,579",19.60%,IN,Allen County,18003
797,797,9841.0,20637.0,32389.0,0.303838,0.637161,"10,796",33.33%,IN,Bartholomew County,18005
798,798,860.0,2579.0,3654.0,0.235359,0.705802,"1,719",47.04%,IN,Benton County,18007
799,799,1243.0,3349.0,4822.0,0.257777,0.694525,"2,106",43.67%,IN,Blackford County,18009

In [4]:
indiana_fips=indiana_data["combined_fips"]
print(len(indiana_fips))
fips=pd.Series(indiana_fips)
fips=fips.tolist()

92

In [6]:
import plotly.figure_factory as ff

#fips = ['06021', '06023', '06027',
        #'06029', '06033', '06059',
        #'06047', '06049', '06051',
        #'06055', '06061']
values = range(len(fips))

fig = ff.create_choropleth(fips=fips, values=values)
fig.layout.template = None
fig.show()

ImportError: geopandas, pyshp and shapely must be installed for this figure factory.

Run the following commands to install the correct versions of the following modules:

```
$ pip install geopandas==0.3.0
$ pip install pyshp==1.2.10
$ pip install shapely==1.6.3
```
If you are using Windows, follow this post to properly install geopandas and dependencies:http://geoffboeing.com/2014/09/using-geopandas-windows/

If you are using Anaconda, do not use PIP to install the packages above. Instead use conda to install them:

```
$ conda install plotly
$ conda install geopandas
```

In [2]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census
from us import states

# Census API Key
from config import census_api_key
c = Census(census_api_key, year=2016)
import pandas as pd

In [3]:
census_data = c.acs5.get(("NAME", "B01003_001E", "B02001_002E","B02001_003E","B02001_005E","B03001_003E",
                          "B25077_001E","B15003_002E","B15003_017E","B15003_018E",
                         "B15003_021E","B15003_022E","B15003_023E","B15003_024E","B15003_025E"), {'for': 'county:*'})

In [4]:
census_complete=pd.DataFrame(census_data)
census_complete=census_complete.rename(columns={"B01003_001E":"Total Population",
                                                "B02001_002E":"Population (White)",
                                                "B02001_003E":"Population (African-American)",
                                               "B02001_005E":"Population (Asian)",
                                               "B03001_003E":"Population (Hispanic)",
                                               "B25077_001E":"Median Home Value",
                                               "B15003_002E":"Education (None)",
                                               "B15003_017E":"Education (High School)",
                                               "B15003_018E":"Education (GED)",
                                               "B15003_021E":"Education (Associates)",
                                               "B15003_022E":"Education (Bachelors)",
                                               "B15003_023E":"Education (Masters)",
                                               "B15003_024E":"Education (Professional)",
                                               "B15003_025E":"Education (Doctorate)"})
census_complete.head()
#census_county = census_complete[1].str.split(' ').apply(Series, 1)

,NAME,Total Population,Population (White),Population (African-American),Population (Asian),Population (Hispanic),Median Home Value,Education (None),Education (High School),Education (GED),Education (Associates),Education (Bachelors),Education (Masters),Education (Professional),Education (Doctorate),state,county
0,"Carroll County, Arkansas",27690.0,25856.0,318.0,245.0,4021.0,118500.0,128.0,5458.0,1346.0,1162.0,2157.0,951.0,119.0,219.0,05,015
1,"Chicot County, Arkansas",11189.0,4778.0,6070.0,46.0,578.0,59600.0,96.0,2621.0,627.0,312.0,718.0,220.0,58.0,19.0,05,017
2,"Clark County, Arkansas",22684.0,16387.0,5348.0,174.0,1013.0,92700.0,145.0,3428.0,628.0,1131.0,2010.0,928.0,96.0,214.0,05,019
3,"Clay County, Arkansas",15202.0,14632.0,76.0,26.0,275.0,66700.0,192.0,3414.0,1172.0,564.0,775.0,354.0,67.0,31.0,05,021
4,"Cleburne County, Arkansas",25587.0,24850.0,143.0,147.0,615.0,126100.0,177.0,5655.0,1533.0,1162.0,1817.0,690.0,242.0,146.0,05,023

In [ ]:
county =census_complete.NAME.str.split(', ', expand=True).loc[:,0]
state=census_complete.NAME.str.split(', ', expand=True).loc[:,1]

In [ ]:
census_complete["County"]=county
census_complete
census_complete["State"]=state
census_complete.head()

In [ ]:
indiana_census=census_complete.loc[census_complete["State"]=="Indiana"]
indiana_census.head()

In [ ]:
count=indiana_census["State"].count()
count

In [ ]:
indiana_final=pd.DataFrame({"State":indiana_census["State"],"County":indiana_census["County"],"Total Population":indiana_census["Total Population"],
                            "Population (White)":indiana_census["Population (White)"],
                            "Population (African-American)":indiana_census["Population (African-American)"],
                           "Population (Asian)":indiana_census["Population (Asian)"],
                           "Population (Hispanic)":indiana_census["Population (Hispanic)"],
                           "Median Home Value":indiana_census["Median Home Value"],
                           "Education (None)":indiana_census["Education (None)"],
                           "Education (High School)":indiana_census["Education (High School)"],
                           "Education (GED)":indiana_census["Education (GED)"],
                           "Education (Associates)":indiana_census["Education (Associates)"],
                           "Education (Bachelors)":indiana_census["Education (Bachelors)"],
                           "Education (Masters)":indiana_census["Education (Masters)"],
                           "Education (Professional)":indiana_census["Education (Professional)"],
                           "Education (Doctorate)":indiana_census["Education (Doctorate)"]})

In [ ]:
indiana_final.head()

In [ ]:
indiana_final.to_csv("indiana_census.csv")

In [ ]:
census_data2 = c.acs5.get(("NAME", "B19013_001E","B19301_001E","B23025_002E","B23025_007E","B23025_005E","B01002_001E",
                           "B01002_002E","B01002_003E"), {'for': 'county:*'})

In [ ]:
census2=pd.DataFrame(census_data2)
#census2.head()
county2 =census2.NAME.str.split(', ', expand=True).loc[:,0]
state2=census2.NAME.str.split(', ', expand=True).loc[:,1]

In [ ]:

census_final2=pd.DataFrame({"County":county2,
                             "State":state2,
                            "Median Income":indiana_census2["B19013_001E"],
                            "Income Per Capita":indiana_census2["B19301_001E"],
                            "Pop in Labor Force":indiana_census2["B23025_002E"],
                            "Pop not in Labor Force":indiana_census2["B23025_007E"],
                            "Unemployed":indiana_census2["B23025_005E"],
                            "Median Age":indiana_census2["B01002_001E"],
                            "Median Age (male)":indiana_census2["B01002_002E"],
                            "Median Age (female)":indiana_census2["B01002_003E"]})
census_final2.head()

In [ ]:
indiana_final2=census_final2.loc[census_final2["State"]=="Indiana"]
indiana_final2.to_csv("indiana_census2.csv")

In [ ]:
census_data2 = c.acs5.get(("NAME", "B01001_049E"), {'for': 'county:*'})
data=pd.DataFrame(census_data2)
data.head()

In [ ]:
#collect census data for age groups....
age = c.acs5.get(("NAME", "B01001_031E","B01001_032E","B01001_033E",
                           "B01001_034E","B01001_035E","B01001_036E",
                           "B01001_037E","B01001_038E","B01001_039E",
                          "B01001_040E","B01001_041E","B01001_042E",
                          "B01001_043E","B01001_044E","B01001_045E",
                          "B01001_046E","B01001_047E","B01001_048E","B01001_049E",
                         "B01001_007E","B01001_008E","B01001_009E",
                           "B01001_010E","B01001_011E","B01001_012E",
                           "B01001_013E","B01001_014E","B01001_015E",
                          "B01001_016E","B01001_017E","B01001_018E",
                          "B01001_019E","B01001_020E","B01001_021E",
                          "B01001_022E","B01001_023E","B01001_024E","B01001_025E"), {'for': 'county:*'})
age_sex=pd.DataFrame(age)
age_sex.head()

In [ ]:
county3 =age_sex.NAME.str.split(', ', expand=True).loc[:,0]
state3=age_sex.NAME.str.split(', ', expand=True).loc[:,1]

In [ ]:
age_sex_complete=pd.DataFrame({"State":state3,"County":county3,
                            "Female (18-19)":age_sex["B01001_031E"],"Female (20)":age_sex["B01001_032E"],
                            "Female (21)":age_sex["B01001_033E"],"Female (22-24)":age_sex["B01001_034E"],
                            "Female (25-29)":age_sex["B01001_035E"],"Female (30-34)":age_sex["B01001_036E"],
                             "Female (35-39)":age_sex["B01001_037E"],
                            "Female (40-44)":age_sex["B01001_038E"],"Female (45-49)":age_sex["B01001_039E"],
                            "Female (50-54)":age_sex["B01001_040E"],"Female (55-59)":age_sex["B01001_041E"],
                            "Female (60-61)":age_sex["B01001_042E"],"Female (62-64)":age_sex["B01001_043E"],
                            "Female (65-66)":age_sex["B01001_044E"],"Female (67-69)":age_sex["B01001_045E"],
                            "Female (70-74)":age_sex["B01001_046E"],"Female (75-79)":age_sex["B01001_047E"],
                            "Female (80-84)":age_sex["B01001_048E"],"Female (85 and over)":age_sex["B01001_049E"],
                              "Male (18-19)":age_sex["B01001_007E"],"Male (20)":age_sex["B01001_008E"],
                            "Male (21)":age_sex["B01001_009E"],"Male (22-24)":age_sex["B01001_010E"],
                            "Male (25-29)":age_sex["B01001_011E"],"Male (30-34)":age_sex["B01001_012E"],
                             "Male (35-39)":age_sex["B01001_013E"],
                            "Male (40-44)":age_sex["B01001_014E"],"Male (45-49)":age_sex["B01001_015E"],
                            "Male (50-54)":age_sex["B01001_016E"],"Male (55-59)":age_sex["B01001_017E"],
                            "Male (60-61)":age_sex["B01001_018E"],"Male (62-64)":age_sex["B01001_019E"],
                            "Male (65-66)":age_sex["B01001_020E"],"Male (67-69)":age_sex["B01001_021E"],
                            "Male (70-74)":age_sex["B01001_022E"],"Male (75-79)":age_sex["B01001_023E"],
                            "Male (80-84)":age_sex["B01001_024E"],"Male (85 and over)":age_sex["B01001_025E"]})

indiana_ages=age_sex_complete.loc[age_sex_complete["State"]=="Indiana"]
indiana_ages.head()

In [ ]:
indiana_ages.to_csv("indiana_ages.csv")

In [ ]:
indiana_ages.columns

In [ ]:
indiana_ages_total=pd.DataFrame({"County":indiana_ages["County"],
                                "Pop (18-19)":indiana_ages["Female (18-19)"]+indiana_ages["Male (18-19)"],
                                "Pop (20)":indiana_ages["Female (20)"]+indiana_ages["Male (20)"],
                                "Pop (21)":indiana_ages["Female (21)"]+indiana_ages["Male (21)"],
                                "Pop (22-24)":indiana_ages["Female (22-24)"]+indiana_ages["Male (22-24)"],
                                "Pop (25-29)":indiana_ages["Female (25-29)"]+indiana_ages["Male (25-29)"],
                                "Pop (30-34)":indiana_ages["Female (30-34)"]+indiana_ages["Male (30-34)"],
                                "Pop (35-39)":indiana_ages["Female (35-39)"]+indiana_ages["Male (35-39)"],
                                "Pop (40-44)":indiana_ages["Female (40-44)"]+indiana_ages["Male (40-44)"],
                                "Pop (45-49)":indiana_ages["Female (45-49)"]+indiana_ages["Male (45-49)"],
                                "Pop (50-54)":indiana_ages["Female (50-54)"]+indiana_ages["Male (50-54)"],
                                "Pop (55-59)":indiana_ages["Female (55-59)"]+indiana_ages["Male (55-59)"],
                                "Pop (60-61)":indiana_ages["Female (60-61)"]+indiana_ages["Male (60-61)"],
                                "Pop (62-64)":indiana_ages["Female (62-64)"]+indiana_ages["Male (62-64)"],
                                "Pop (65-66)":indiana_ages["Female (65-66)"]+indiana_ages["Male (65-66)"],
                                "Pop (67-69)":indiana_ages["Female (67-69)"]+indiana_ages["Male (67-69)"],
                                "Pop (70-74)":indiana_ages["Female (70-74)"]+indiana_ages["Male (70-74)"],
                                "Pop (75-79)":indiana_ages["Female (75-79)"]+indiana_ages["Male (75-79)"],
                                "Pop (80-84)":indiana_ages["Female (80-84)"]+indiana_ages["Male (80-84)"],
                                "Pop (85 and over)":indiana_ages["Female (85 and over)"]+indiana_ages["Male (85 and over)"]})

indiana_ages_total
marion=indiana_ages_total.loc[indiana_ages_total["County"]=="Marion County"]
#indiana_counties=indiana_ages_total["County"].unique()
#indiana_counties
marion_data=marion.iloc[:,[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]].values.flatten().tolist()

In [ ]:
indiana_ages_total.head()

In [ ]:
indiana_ages_total.to_csv("indiana_pop_age.csv")

In [ ]:
#create histogram for 
x_axis=np.arange(len(marion_data))

plt.bar(x_axis,marion_data);

In [ ]:
daviess=indiana_ages_total.loc[indiana_ages_total["County"]=="Daviess County"]
#indiana_counties=indiana_ages_total["County"].unique()
#indiana_counties
daviess_data=daviess.iloc[:,[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]].values.flatten().tolist()

In [ ]:
x_axis=np.arange(len(daviess_data))
plt.bar(x_axis,daviess_data);

In [ ]:
tippecanoe=indiana_ages_total.loc[indiana_ages_total["County"]=="Tippecanoe County"]
monroe=indiana_ages_total.loc[indiana_ages_total["County"]=="Monroe County"]
tippecanoe_data=tippecanoe.iloc[:,[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]].values.flatten().tolist()
monroe_data=monroe.iloc[:,[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]].values.flatten().tolist()
x_axis=np.arange(len(tippecanoe_data))

In [ ]:
#ax = plt.subplot(111)
#ax.bar(x-0.2, y, width=0.2, color='b', align='center')
#ax.bar(x, z, width=0.2, color='g', align='center')
#ax.bar(x+0.2, k, width=0.2, color='r', align='center')
#ax.xaxis_date()

In [ ]:
#tippecanoe male vs female
tippecanoe=indiana_ages.loc[indiana_ages["County"]=="Tippecanoe County"]
tippecanoe_female=tippecanoe.iloc[:,[2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]].values.flatten().tolist()
tippecanoe_male=tippecanoe.iloc[:,[21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39]].values.flatten().tolist()
categories=["18-19","20","21","22-24","25-29","30-34","35-39","40-44","45-49","50-54","55-59","60-61",
           "62-64","65-66","67-69","70-74","75-79","80-84","85 & over"]

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

tippecanoe_df=pd.DataFrame(np.c_[tippecanoe_female,tippecanoe_male],index=categories)
tippecanoe_df.plot.bar();

In [ ]:
#monroe male vs female
monroe=indiana_ages.loc[indiana_ages["County"]=="Monroe County"]
monroe_female=monroe.iloc[:,[2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]].values.flatten().tolist()
monroe_male=monroe.iloc[:,[21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39]].values.flatten().tolist()
categories=["18-19","20","21","22-24","25-29","30-34","35-39","40-44","45-49","50-54","55-59","60-61",
           "62-64","65-66","67-69","70-74","75-79","80-84","85 & over"]

In [ ]:
monroe_df=pd.DataFrame(np.c_[monroe_female,monroe_male],index=categories)
monroe_df.plot.bar();

In [ ]:
#marion male vs female
marion=indiana_ages.loc[indiana_ages["County"]=="Marion County"]
marion_female=marion.iloc[:,[2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]].values.flatten().tolist()
marion_male=marion.iloc[:,[21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39]].values.flatten().tolist()
categories=["18-19","20","21","22-24","25-29","30-34","35-39","40-44","45-49","50-54","55-59","60-61",
           "62-64","65-66","67-69","70-74","75-79","80-84","85 & over"]

In [ ]:
marion_df=pd.DataFrame(np.c_[marion_female,marion_male],index=categories)
marion_df.plot.bar();

In [ ]:
#daviess male vs female
daviess=indiana_ages.loc[indiana_ages["County"]=="Daviess County"]
daviess_female=daviess.iloc[:,[2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]].values.flatten().tolist()
daviess_male=daviess.iloc[:,[21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39]].values.flatten().tolist()
categories=["18-19","20","21","22-24","25-29","30-34","35-39","40-44","45-49","50-54","55-59","60-61",
           "62-64","65-66","67-69","70-74","75-79","80-84","85 & over"]

In [ ]:
daviess_df=pd.DataFrame(np.c_[daviess_female,daviess_male],index=categories)
daviess_df.plot.bar();

In [ ]:
#daviess male vs female
lake=indiana_ages.loc[indiana_ages["County"]=="Lake County"]
lake_female=lake.iloc[:,[2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]].values.flatten().tolist()
lake_male=lake.iloc[:,[21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39]].values.flatten().tolist()
categories=["18-19","20","21","22-24","25-29","30-34","35-39","40-44","45-49","50-54","55-59","60-61",
           "62-64","65-66","67-69","70-74","75-79","80-84","85 & over"]

In [ ]:
lake_df=pd.DataFrame(np.c_[lake_female,lake_male],index=categories)
lake_df.plot.bar();

In [8]:
education_data = c.acs5.get(("NAME", "C15002A_001E", "C15002A_002E","C15002A_003E",
                             "C15002A_004E","C15002A_005E","C15002A_006E",
                             "C15002A_007E","C15002A_008E","C15002A_009E",
                             "C15002A_010E","C15002A_011E",
                             "C15002B_001E","C15002B_002E","C15002B_003E",
                            "C15002B_004E","C15002B_005E","C15002B_006E",
                            "C15002B_007E","C15002B_008E","C15002B_009E",
                            "C15002B_010E","C15002B_011E"), {'for': 'county:*'})

In [12]:
education=pd.DataFrame(education_data)
#education.head()
county4 =education.NAME.str.split(', ', expand=True).loc[:,0]
state4=education.NAME.str.split(', ', expand=True).loc[:,1]

education.head()

,NAME,C15002A_001E,C15002A_002E,C15002A_003E,C15002A_004E,C15002A_005E,C15002A_006E,C15002A_007E,C15002A_008E,C15002A_009E,...,C15002B_004E,C15002B_005E,C15002B_006E,C15002B_007E,C15002B_008E,C15002B_009E,C15002B_010E,C15002B_011E,state,county
0,"Carroll County, Arkansas",18332.0,8841.0,1575.0,3090.0,2526.0,1650.0,9491.0,1274.0,3361.0,...,38.0,8.0,0.0,107.0,0.0,77.0,26.0,4.0,05,015
1,"Chicot County, Arkansas",3614.0,1756.0,294.0,727.0,442.0,293.0,1858.0,241.0,696.0,...,899.0,277.0,101.0,2147.0,454.0,868.0,557.0,268.0,05,017
2,"Clark County, Arkansas",9839.0,4722.0,659.0,1444.0,1332.0,1287.0,5117.0,606.0,1570.0,...,536.0,375.0,218.0,1695.0,236.0,444.0,617.0,398.0,05,019
3,"Clay County, Arkansas",10482.0,5005.0,1137.0,2240.0,1161.0,467.0,5477.0,1041.0,2231.0,...,15.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,05,021
4,"Cleburne County, Arkansas",18320.0,8891.0,1672.0,3280.0,2554.0,1385.0,9429.0,1389.0,3712.0,...,28.0,21.0,12.0,11.0,0.0,4.0,7.0,0.0,05,023

In [19]:
indiana_education=pd.DataFrame({"State":state4,"County":county4,"White Pop (25 and over)":education["C15002A_001E"],
                               "White Males (25 and over)":education["C15002A_002E"],"White Male (less than High School)":education["C15002A_003E"],
                                "White Male (High School)":education["C15002A_004E"],
                               "White Male (some college)":education["C15002A_005E"],
                               "White Male (Bachelor's or higher)":education["C15002A_006E"],
                               "White Female (25 and over)":education["C15002A_007E"],
                               "White Female (less than High School)":education["C15002A_008E"],
                               "White Female (High School)":education["C15002A_009E"],
                               "White Female (some college)":education["C15002A_010E"],
                               "White Female (Bachelor's or higher)":education["C15002A_011E"],
                               "Af-Am (25 and over)":education["C15002B_001E"],
                               "Af-Am Male (25 and over)":education["C15002B_002E"],
                               "Af-Am Male (less than High School)":education["C15002B_003E"],
                               "Af-Am Male (High School)":education["C15002B_004E"],
                               "Af-Am Male (some college)":education["C15002B_005E"],
                               "Af-Am Male (Bachelor's or higher)":education["C15002B_006E"],
                               "Af-Am Female (25 and over)":education["C15002B_007E"],
                               "Af-Am Female (less than High School)":education["C15002B_008E"],
                               "Af-Am Female (High School)":education["C15002B_009E"],
                               "Af-Am Female (some college)":education["C15002B_010E"],
                               "Af-Am Female (Bachelor's or higher)":education["C15002B_011E"]})

In [27]:
indiana_education=indiana_education.loc[indiana_education["State"]=="Indiana"]
indiana_education.to_csv('indiana_education.csv')